.carousel-item {
  width: 100%;
  height: 500px;
}
.carousel-item img {
  width: 100%;
}

.carousel-item a {
  background-color: #783030;
  border: #532121;
  margin-bottom: 2%;
}
.carousel-item h1 {
  font-size: 3em;
  text-shadow: 2px 2px 3px #000000;
}
.carousel-item a:hover {
  background-color: #572323;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #572323 !important;
}

.slideDescription {
  font-size: 1.5em;
  width: 60%;
  text-align: center;
  padding: 1%;
  text-shadow: 2px 2px 3px #000000;
}

.slideDescContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .carousel-item {
    width: 100%;
    height: 200px;
  }
  .slideDescription {
    font-size: 0.5em;
    width: 100%;
  }
  .carousel-item button {
    height: 20px;
    font-size: 0.7em;
    width: 50%;
    height: 10%;
  }
  .carousel-item h1 {
    font-size: 1em;
  }
  .carousel-item button:focus {
    background-color: #572323;
  }
}
