#contactJumbotron {
    background-image: url("../images/contactHeader.JPG");
    color: white;
    text-shadow: 2px 3px 3px #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -300px;
  }
  #contactJumbotron h1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  @media only screen and (max-width: 600px) {
    #contactJumbotron {
      color: white;
      text-shadow: 2px 3px 3px #000000;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px 0px;
    }
    #contactJumbotron h1 {
      font-size: 2.5em;
    }
  }