.page-footer {
  background-color: #5e5e5e;
  color: white;
}

.page-footer a {
  color: white;
}

.footer-copyright {
  background-color: #494949;
}

#social {
  width: 30%;
  margin-top: 2%;
}

.footerText {
  width: 60%;
  margin-left: 5%;
}

#social:hover {
  filter: brightness(70%);
}

#BarnTitle {
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
  #social {
    width: 40%;
  }
  .footerText {
    width: 100%;
    margin-left: 0%;
  }
  #BarnTitle {
    margin-left: 0%;
  }
}
