.card-deck {
  margin-left: 5%;
  margin-right: 5%;
}
.card-text {
  text-align: center;
}
.card-title {
  text-align: center;
}

.card-body {
  box-shadow: 0 10px 6px -6px #777;
}
.card-body:hover {
  background-color: rgb(225, 225, 225);
}

#lessonsImg {
  width: 50%;
  border-radius: 30%;
  padding: 2px;
  border: 2px solid #3a3a3a;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5%;
  box-shadow: 0 15px 6px -6px #777;
}

#premiumImg {
  width: 75%;
  height: auto;
  border-radius: 30%;
  padding: 2px;
  border: 2px solid #3a3a3a;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5%;
  box-shadow: 0 15px 6px -6px #777;
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  margin: 3%;
}

@media only screen and (max-width: 600px) {
  #lessonsImg {
    height: 20%;
  }
  #premiumImg {
    height: 20%;
  }
}
