.logo {
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.navbar-custom {
  background-color: #5e5e5e;
}

.active-dropdown {
  background-color: rgb(179, 179, 179);
  color: white;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 40%;
    margin: 8%;
    height: 30%;
  }
}
